In [8]:
from bs4 import BeautifulSoup as bs
import requests

In [ ]:
#pegar todo o html da página
url = 'https://pt.wikipedia.org/wiki/Lista_das_maiores_empresas_do_mundo'
pagina_crua = requests.get(url)
pagina = bs(pagina_crua.text, 'html')

In [ ]:
# Pegar a parte da página que tem a tabela
tabela = pagina.find_all('table')[1]
tabela

In [34]:
# os titulos da tabela estão dentro dos td dentro do primeiro tr
linha_titulos_tabela = tabela.find_all('tr')[0]
titulos_tabela = [titulos.text.strip() for titulos in linha_titulos_tabela]
titulos_limpos = list(filter(lambda x: x, titulos_tabela))
titulos_limpos

['Posição', 'Empresa', 'País natal', 'Valor de mercado (em Milhares)[6]']

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(columns=titulos_limpos)
df

Empty DataFrame
Columns: [Posição, Empresa, País natal, Valor de mercado (em Milhares)[6]]
Index: []

In [39]:
# encontrar todas as linhas da tabela e colocar no dataframe

linhas = tabela.find_all('tr')
for dados_linhas in linhas[1:]:
    dados = dados_linhas.find_all('td')
    dados_individuais = [dados.text.strip() for dados in dados]

    tamanho = len(df)
    df.loc[tamanho] = dados_individuais

In [40]:
df

,Posição,Empresa,País natal,Valor de mercado (em Milhares)[6]
0,1,Walmart,Estados Unidos,US$ 995 800 000
1,2,ExxonMobil,Estados Unidos,US$ 375 000 000
2,3,Google,Estados Unidos,US$ 354 965 000
3,4,Microsoft,Estados Unidos,US$ 334 965 000
4,5,PetroChina Company,China,US$ 330 000 000
...,...,...,...,...
341,342,Cerner,Estados Unidos,US$ 25 552 000
342,343,British Sky Broadcasting,Reino Unido,US$ 25 733 000
343,344,Organização Odebrecht,Brasil,US$ 25 536 000
344,345,Repsol,Espanha,US$ 25 450 000
345,346,Volvo,Suécia,US$ 25 400 000

In [ ]:
# agora eu tenho um dataframe com todos os dados da tabela
# e posso converter esse dataframe em uma planilha excel

df.to_excel('maiores_empresas_do_mundo.xlsx', index=False)